WhatsMyIDFA/Pods/Pods.xcodeproj/xcuserdata/CharlesMac.xcuserdatad/xcschemes/Pods-WhatsMyIDFA.xcscheme
WhatsMyIDFA/Pods/Pods.xcodeproj/xcuserdata/CharlesMac.xcuserdatad/xcschemes/xcschememanagement.plist
