<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WhatsMyIDFA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>569414691FB59B6900139B9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5694147D1FB59B6900139B9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>569414881FB59B6900139B9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
